.addTransformer {
  display: flex;
  flex-direction: column;
  padding: 25px;
  .name {
    flex-grow: 1;
    margin-bottom: 15px;
  }

  .attributes {
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    > div {
      flex-direction: column;
      input {
        width: 90%;
      }
    }
  }
  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    button {
      margin: 0 15px;
    }
  }
}
