/* You can add global styles to this file, and also import other style files */
button {
  cursor: pointer;
  background-color: #2acaca;
  border-color: #4dc2c2;
  border-style: solid;
  padding: 10px;
  border-radius: 6px;
  color: white;
  min-width: 100px;
  margin: 0 10px;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: #229F9F;
  }
}
