:host {
  > div {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  router-outlet  {
    padding: 15px;
  }
  .buttons{
    > :first-child {
      margin-right: 15px;
    }
  }
}
